*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outter{
    
    height: 80vh;
    width: 100vw;
    background:linear-gradient(45deg,#FF671F,#fff,#046A38);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height:54vh;
    width:81vh;
    background-color: darksalmon;
    border-radius: 1rem;
    overflow: hidden;
}
.inner .c1{
    height:33%;
    background-color: #FF671F;
}
.inner .c2{
    height: 33%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.c2 img{
    height: 100%;
    width:25%;
    align-self: center;
}
.inner .c3{
    height: 20vh;
    background-color:#046A38;
}